


<div class="container p-3 mt-3 ">
  <div class="row justify-content-center">
    <div class="col-lg-6 rounded-3 mb-3 ">
    <div class="user-div d-flex justify-content-center annonce-titre mb-4">
      <h1>Modifie ton annonce 😎</h1>
      <a href="/meetings" class="btn-close close-button-meeting-edit" aria-label="Close"></a>
    </div>
   

  <%= render "shared/meeting_form", meeting: @meeting %>

  </div>
</div>
</div>