<div class="container">
  <div class="row justify-content-center">
    <h1 class="d-flex justify-content-center annonce-titre mb-4">Modifie ton annonce 😎</h1>
    <%= render "shared/meeting_form", meeting: @meeting %>
  </div>
</div>
