<div class="container p-3 mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 rounded-3 new-form-container py-4">
    <div class="user-div d-flex justify-content-center annonce-titre mb-1">
      <h1>Crée ton annonce ! 😎</h1>
      <a href="/meetings" class="btn-close close-button-meeting-new" aria-label="Close"></a>
    </div>

      <% if @meeting.errors.any? %>
        <% @meeting.errors.full_messages.each do |message|%>\
          <h3><%= message %> </h3>
        <%end%>
      <%end%>

  <%= render 'shared/meeting_form' %>

  </div>
</div>
</div>
