// Define variables for your color scheme

// For example:
$dark: #343131;
$red: #A04747;
$orange: #f1a84b;
$dark-orange: #b96900;
$yellow: #EEDF7A;
// $red: #FD1015;
$blue: #0D6EFD;
$green: #1EDD88;
$dark-green: #009b4d;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;
$off-white: rgb(233, 230, 230);
