// Specific CSS for your home-page
.container-home {
// padding:20px;

    .main-home {
      margin: auto;
      text-align: center;
      justify-content: center;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 20px;
      background-image: url("home_page.jpg");
      background-position: -99px;
      background-repeat: no-repeat;
      background-size: auto;
      height: 90vh;
      padding: 20px;

      h1 {
        font-size: 2.5rem
      }
      h2 {
        font-size: 1.6rem
      }

      h4 {
        margin-top: 5px;
        font-size: 25px;
      }

    .btn {
      // font-size: 30px;
      // font-family: "DM Sans", sans-serif;
      // text-decoration: none;
      // width: 80vw;
      // height: 50px;
      // border-radius: 10px;
      // padding-top: 10px;
      // margin-top: 20px;
      // text-align: center;
      // font-weight: bold;
      color: rgb(0, 0, 0);
      font-weight: 800;
      font-size: 30px;

      // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

.logo-text {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
}

.hp-logo {
  width: 225px;
  height: 150px;
  object-fit: contain;
}

.comment-ca-marche-home {
text-align: center;
padding: 30px 20px 30px 20px;

  .comment-card {
    color: $very-dark;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin-top: 20px;

    .card-content {
      text-align: center;
    }
  }
  .attention {
    margin-top: 20px;
  }
  .transition {
    margin: 10px 0 10px 0;
  }
}
