.user-div {
  position: relative;
}

.close-button {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
}

.close-button-meeting-new {
  position: absolute;
  top: -25px;
  right: 25px;
  z-index: 1;
  filter: invert(2);
}

.close-button-meeting-edit {
  position: absolute;
  top: -25px;
  right: 25px;
  z-index: 1;
  filter: invert(2);
}

.rejected-request {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  font-style: italic;
}
