<div class="container-home">
  <div class="content-home">
    <%= image_tag "logo.png", class:'hp-logo'%>
    <p>Oublie les écrans, et viens partager de vrais moments</p>
      <%= link_to "Choisis ton jeu", meetings_path, class: "btn btn-primary btn-large rounded-pill shadow p-1 px-4" %>
  </div>
<div>
