<div class="container-home">
  <div class="row content-home">
    <h2>"Oublie tes écrans, et viens partager de vrais moments"</h2>
    <a href="/meetings" class="btn-primary bouton" aria-label="Close">Je me lance !</a>
  </>
<div>