<div class="container-home">
  <div class="row content-home">
    <h1 class="logo-text">très.joueurs</h1>
    <h4><i>Oublie tes écrans, et viens partager de vrais moments</i></h2>
    <a href="/meetings" class="btn-primary bouton" aria-label="Close">Je me lance !</a>
  </div>
<div>
