.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.notice {
  background-color: $dark;
  border-radius: 5px;
  background-color: #343131;
  padding: 1px 7px 1px 5px;
  margin: 0px 5px 5px 5px;
}
