.meeting-card {
  background-color: $white;
  color: black;
  a {
    text-decoration: none;
  }

  .show-link {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

  .time {
    background-color: green;
  }

  h3 {
    font-weight: 500;
   }

  h6 {
    font-weight: 400;
    margin-bottom: 2px!important;
  }
  .place-info {
    font-size: x-small;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: 180px;
    border-radius: 5px;
  }

  @media (max-width: 720px) {
    p {
      font-size: small;
      margin-bottom: 0;
    }
  }

  @media (min-width: 720px) {
    p {
      font-size: small;
      margin-bottom: 0;
    }
  }

  .meeting-card-side-elements {
    text-align: center;

    h3 {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 720px) {
  .meeting-card {
    width: 400px;
  }
}
@media (max-width: 720px) {
  .meeting-card {
    width: 400px;
  }
}

.meeting-card-bottom {
  box-shadow: inset 0 0 4px #966100;
  padding: 3px;
}

.request-card {
  background-color: $light-gray;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none !important;
    color: black !important;
  }

  p {
    margin-bottom: 1px;
  }

  .month {
    margin-bottom: 0;
  }

  .request-card-side-elements {
    // position: absolute;
    text-align: center;
  }
}

.card-done {
  opacity: 70%;
}

.card-canceled {
  opacity: 70%;
}

.confirmed{
  color: black;
  font-weight: 600;
}
.canceled {
  color: $red;
  font-weight: 600;
}

.ongoing {
  color: $dark-green;
  font-weight: 600;
}

.done {
  color: $dark;
  font-weight: 600;
}

.show-card {
  width: 95%;
  color: black;
  padding: 25px;
  background-color: white;
  .owner-card {
    background-color: $orange;;
  }

  p {
    margin-bottom: 5px;
  }
}

.date-stamp {
  width: 55px;
  height: 55px;
  color: black;
  background-color: #1EDD88;
}

.meeting-card-top {
  position: relative;

  .profile-pic {
    padding: 0px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
  }
}
