.game-card {
  background-color: $white;
  color: black;

  h3 {
    font-weight: 600;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: 180px;
    border-radius: 5px;
  }

  @media (max-width: 720px) {
    p {
      font-size: small;
      margin-bottom: 0;
    }
  }

  @media (min-width: 720px) {
    p {
      font-size: small;
      margin-bottom: 0;
    }
  }
  .game-card-side-elements {
    text-align: center;

    h3 {
      margin-bottom: 0;
    }
  }
}
.rental-card {
  background-color: $light-gray;
  margin-bottom: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);

  .game-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  a {
    text-decoration: none !important;
    color: black !important;
  }

  .rental-card-side-elements {
    // position: absolute;
    text-align: center;
  }
}

.card-done {
  opacity: 70%;
}

.card-canceled {
  opacity: 70%;
}

.confirmed{
  color: black;
  font-weight: 600;
}
.canceled {
  color: $red;
  font-weight: 600;
}

.ongoing {
  color: $dark-green;
  font-weight: 600;
}

.done {
  color: $dark;
  font-weight: 600;
}

.show-card {
  background-color: $dark-orange;
  .owner-card {
    background-color: $orange;;
  }
}
