.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-dates {
  display: flex;
  overflow: hidden;
  width: 85%;
  justify-content: center;
}

.carousel-date {
  margin-right: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  color: black;
}

.carousel-prev,
.carousel-next {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.carousel-prev:hover,
.carousel-next:hover {
  color: #007bff;
}