.chat {
  background: white;
  height: calc(80vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 3px;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    margin: auto;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent .message-content {
    align-self: flex-end;
    background: $blue;
    color: $light-gray;
  }

  .message.received .message-content {
    align-self: flex-start;
    background: $gray-200;
  }
}

.message-card {
  overflow: hidden;
  margin: auto;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  position: relative;
  text-align: center;
  a {
    text-decoration: none !important;
    color: black !important;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }

  h1 {
    font-weight: bold;
    margin: 0;
  }

}

.send-button {
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.message-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.message-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.message-input::placeholder {
  color: #999;
}

.close-button-message {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
  filter: invert(2);
}