.meetings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.meeting-card {
  max-width: 400px;
}

@media (min-width: 720px) {
  .meeting-card {
    width: 400px;
  }
}
