.meetings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bg-green {
  background-color: green;
}

.bg-gray {
  background-color: gray;
}

.bg-red {
  background-color: red;
}
