
.ts-wrapper {
  padding: 0;
  border: none;
}

.secondary-form {
  background-color: $body-bg;
  color: $light-gray;
}

.user-form {
  margin: auto;
  max-width: 400px;
}

.filter-form {
  background-color: $dark;
  border-radius: 5px;
  max-width: 500px;
  .activateGeo {
    margin: auto;
  }
  .margin-left {
    margin-left: 10px;
  }
  .margin-right {
    margin-right: 10px;
  }
  .margin-left-and-right {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.new-form-container {
  background-color: $dark;
  padding: 10px;
}
