
.ts-wrapper {
  padding: 0;
  border: none;
}

.secondary-form {
  background-color: $body-bg;
  color: $light-gray;
}

.user-form {
  margin: auto;
  max-width: 400px;
}

.filter-form {
  background-color: $dark;
  border-radius: 5px;
}
